extends ../layouts/common
block content 
    .container
        h1 This is user
        a(href="./users/create", class="btn btn-primary m-2") CREATE 
        form(action="/users/search", method="GET")
            .d-flex
                input(type="text", name="q", class="form-control", value=value)
                button(class="btn btn-primary m-2") Search

        table.table  
            each user in users
                tr
                    td 
                        span= user.name
                        span &nbsp;
                    td 
                        span=user.phone 
                        span &nbsp;
                    td
                        a(href="/users/" + user.id, class="btn btn-light") VIEW 