extends ../layouts/common
block content 
    .container 
        h1 VIEW 
        table(class="table")
            tr  
                th Name 
                th Phone 
            tr 
                td= user.name 
                td= user.phone
            